<div class="container mt-5">

    <h1>OUR SERVICES</h1>
    <br>

    <div class="row" style=" column-gap: 100px;">
        <div class="col-md-3  "
            style=" background: #eee; color: white; border-radius: 20px; box-shadow: inset 3px 2px 10px #babebc, inset -3px -3px 12px #fff;">
            <i class="fa-solid fa-pen-nib" style="color: black; margin-left: 125px; margin-top: 20px; font-size: 50px;">

            </i>
            <h4 align="center" style="color: black; margin-top: 10px; font-weight: 700;">DESIGN</h4>
            <p style="color: black; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat ipsum eligendi iure repellendus
                vitae totam quos excepturi natus quia architecto est voluptatibus in, mollitia temporibus impedit quo
                obcaecati voluptates.</p>
        </div>
        <div class="col-md-3 mt-3"
            style=" background: #eee; color: white; border-radius: 20px; box-shadow: inset 3px 2px 10px #babebc, inset -3px -3px 12px #fff;">
            <i class="fa-solid fa-video" style="color: black; margin-left: 125px; margin-top: 20px; font-size: 50px;"></i>
            <h4 align="center" style="color: black; margin-top: 10px; font-weight: 700;">SHOOT</h4>
            <p style="color: black; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat ipsum eligendi iure repellendus
                vitae totam quos excepturi natus quia architecto est voluptatibus in, mollitia temporibus impedit quo
                obcaecati voluptates.</p>
        </div>
        <div class="col-md-3 mt-3"
            style=" background: #eee; color: white; border-radius: 20px; box-shadow: inset 3px 2px 10px #babebc, inset -3px -3px 12px #fff;">
            <i class="fa-solid fa-film" style="color: black; margin-left: 125px; margin-top: 20px; font-size: 50px;"></i>
            <h4 align="center" style="color: black; margin-top: 10px; font-weight: 700;">FILM</h4>
            <p style="color: black; text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat ipsum eligendi iure repellendus
                vitae totam quos excepturi natus quia architecto est voluptatibus in, mollitia temporibus impedit quo
                obcaecati voluptates.</p>
        </div>
    </div>
</div>
<br><br>