<div class="wrapper">
    <div class="container mt-5" >
        <h2>Log in</h2>
        <form action="/action_page.php" class="mt-5" >
          <div class="mb-3 mt-3">
            <input type="text" class="" id="email" placeholder="Enter Username" name="email">
          </div>
          <div class="mb-3">
            <input type="password" class="" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
      </div>
    
      <br><br>
