<div class="wrapper">
    <div class="container mt-5" >
        <h2>Contact</h2>
        <form action="/action_page.php" class="mt-5" >
          <div class="mb-3 mt-3">
            <input type="text" class="" id="email" placeholder="Enter Name" name="email">
          </div>
          <div class="mb-3">
            <input type="email" class="" id="pwd" placeholder="Enter Email " name="pswd">
          </div>
          <div class="mb-3">
            <input type="text" class="" id="pwd" placeholder="Enter Subject " name="pswd">
          </div>
          <div class="mb-3">
            <textarea name="" id="" cols="23" rows="5" placeholder="Enter Message "></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
      </div>
    
      <br><br>
